.App{
  background: rgb(92, 74, 74);
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
#form-todo input{
  background: #d41535;
  border: 0;
  padding: 0 20px;
  margin: 15px;
  border-radius: 4px;
  width: 220px;
  height: 50px;
  color: white;
  font-size: 20px;
}
#form-todo input:focus, #form-todo button:focus {
  outline: none;
}
#form-todo input::placeholder{
  color: white;
  font-size: 18px;
  padding: auto 0;
}
#form-todo button {
  width: 80px;
  height: 50px;
  background: #d41535;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  font-size: 18px;
}