.list {
    color: white;
    width: 300px;
    background: rgb(190, 19, 19);
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
}
.list p {
    padding: 8px;
    font-size: 18px;
    font-weight: 400;
    position: relative;
}
.list p span {
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.falcons {
    margin: 0 5px;
    font-size: 15px;
}
.list p input{
    background: transparent;
    border: 0;
    color: white;
    font-size: 18px;
}
.list p input:focus {
    outline: none;
}